In [17]:
import pandas as pd
import numpy as np

In [19]:
# open file and store in dataframe
df = pd.read_csv('../match-data/nwsl-events/2025-04-22_Portland_Thorns__vs__Gotham_FC.csv')
df.head()

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Squad,Position
0,2805067255,1,34,16,0,0,446mp88j1vpk9iwui9fiifrp8,1,0.0,0.0,2025-04-23T01:55:10.322Z,2025-04-23T02:52:26Z,"[{'id': 5673692197, 'qualifierId': 130, 'value...",NaN,NaN,NaN,NaN,Portland Thorns,Home
1,2805068843,1,34,16,0,0,bgkfdckqfqnfbmecbtz03n76d,1,0.0,0.0,2025-04-23T02:02:45.183Z,2025-04-23T02:52:51Z,"[{'id': 5673700965, 'qualifierId': 197, 'value...",NaN,NaN,NaN,NaN,Gotham FC,Away
2,2805076039,2,32,1,0,0,446mp88j1vpk9iwui9fiifrp8,1,0.0,0.0,2025-04-23T02:37:34.867Z,2025-04-23T02:37:37Z,"[{'id': 5673740633, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,Portland Thorns,Home
3,2805076037,2,32,1,0,0,bgkfdckqfqnfbmecbtz03n76d,1,0.0,0.0,2025-04-23T02:37:34.867Z,2025-04-23T02:37:47Z,"[{'id': 5673740619, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,Gotham FC,Away
4,2805076049,3,1,1,0,0,446mp88j1vpk9iwui9fiifrp8,1,50.0,50.0,2025-04-23T02:37:34.868Z,2025-04-23T02:46:48Z,"[{'id': 5673740701, 'qualifierId': 279, 'value...",cmolam8ri93kos2rasjhnuxyi,S. Coffey,NaN,NaN,Portland Thorns,Home

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Squad,Position
0,2805067255,1,34,16,0,0,446mp88j1vpk9iwui9fiifrp8,1,0.0,0.0,2025-04-23T01:55:10.322Z,2025-04-23T02:52:26Z,"[{'id': 5673692197, 'qualifierId': 130, 'value...",NaN,NaN,NaN,NaN,Portland Thorns,Home
1,2805068843,1,34,16,0,0,bgkfdckqfqnfbmecbtz03n76d,1,0.0,0.0,2025-04-23T02:02:45.183Z,2025-04-23T02:52:51Z,"[{'id': 5673700965, 'qualifierId': 197, 'value...",NaN,NaN,NaN,NaN,Gotham FC,Away
2,2805076039,2,32,1,0,0,446mp88j1vpk9iwui9fiifrp8,1,0.0,0.0,2025-04-23T02:37:34.867Z,2025-04-23T02:37:37Z,"[{'id': 5673740633, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,Portland Thorns,Home
3,2805076037,2,32,1,0,0,bgkfdckqfqnfbmecbtz03n76d,1,0.0,0.0,2025-04-23T02:37:34.867Z,2025-04-23T02:37:47Z,"[{'id': 5673740619, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,Gotham FC,Away
4,2805076049,3,1,1,0,0,446mp88j1vpk9iwui9fiifrp8,1,50.0,50.0,2025-04-23T02:37:34.868Z,2025-04-23T02:46:48Z,"[{'id': 5673740701, 'qualifierId': 279, 'value...",cmolam8ri93kos2rasjhnuxyi,S. Coffey,NaN,NaN,Portland Thorns,Home

In [37]:
# get defensive actions, we need - tackles, clearances, interceptions, aerial, recoveries
df[df.typeId == 7] # tackle
df[df.typeId == 12] # clearance
df[df.typeId == 8] # interception
df[df.typeId == 44] # aerial
df[df.typeId == 49] # recovery

# drop unneccessary columns
df.drop(columns=['timeStamp', 'contestantId', 'lastModified', 'assist', 'keyPass', 'playerId'])

defensive_ids = [7, 12, 8, 44, 49]
defensive_df = df[df['typeId'].isin(defensive_ids)]

In [39]:
defensive_df.head()

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Squad,Position
15,2805076079,3,12,1,0,29,bgkfdckqfqnfbmecbtz03n76d,1,9.8,24.0,2025-04-23T02:38:04.465Z,2025-04-23T02:46:29Z,"[{'id': 5673740925, 'qualifierId': 212, 'value...",9ohn9m84cy89huz745lirkted,J. Carter,NaN,NaN,Gotham FC,Away
44,2805076217,29,49,1,2,1,446mp88j1vpk9iwui9fiifrp8,1,54.9,62.7,2025-04-23T02:39:35.990Z,2025-04-23T02:39:36Z,[],da2c3l9xeixo7o6byjutpgn4k,C. Hanks,NaN,NaN,Portland Thorns,Home
47,2805076229,12,49,1,2,3,bgkfdckqfqnfbmecbtz03n76d,1,30.6,27.7,2025-04-23T02:39:37.896Z,2025-04-23T02:39:38Z,[],aqihfnhadzdmi7i5bjfnphqms,N. Martin,NaN,NaN,Gotham FC,Away
53,2805076281,31,7,1,2,24,446mp88j1vpk9iwui9fiifrp8,1,49.2,22.4,2025-04-23T02:39:58.873Z,2025-04-23T04:41:22Z,"[{'id': 5673742239, 'qualifierId': 56, 'value'...",ek8x7y3jt0xcebttt75qi5exh,J. Fleming,NaN,NaN,Portland Thorns,Home
71,2805077671,212,7,1,3,15,bgkfdckqfqnfbmecbtz03n76d,1,47.2,27.8,2025-04-23T02:40:50.399Z,2025-04-23T04:41:22Z,"[{'id': 5673750811, 'qualifierId': 285}, {'id'...",e0gmts9bxn8goqm3bz4835016,T. Torres,NaN,NaN,Gotham FC,Away