In [89]:
import pandas as pd
import numpy as np

In [157]:
# open file and store in dataframe
df = pd.read_csv('../match-data/nwsl-events/2025-04-22_Portland_Thorns__vs__Gotham_FC.csv')

In [159]:
df.head()

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Squad,Position
0,2805067255,1,34,16,0,0,446mp88j1vpk9iwui9fiifrp8,1,0.0,0.0,2025-04-23T01:55:10.322Z,2025-04-23T02:52:26Z,"[{'id': 5673692197, 'qualifierId': 130, 'value...",NaN,NaN,NaN,NaN,Portland Thorns,Home
1,2805068843,1,34,16,0,0,bgkfdckqfqnfbmecbtz03n76d,1,0.0,0.0,2025-04-23T02:02:45.183Z,2025-04-23T02:52:51Z,"[{'id': 5673700965, 'qualifierId': 197, 'value...",NaN,NaN,NaN,NaN,Gotham FC,Away
2,2805076039,2,32,1,0,0,446mp88j1vpk9iwui9fiifrp8,1,0.0,0.0,2025-04-23T02:37:34.867Z,2025-04-23T02:37:37Z,"[{'id': 5673740633, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,Portland Thorns,Home
3,2805076037,2,32,1,0,0,bgkfdckqfqnfbmecbtz03n76d,1,0.0,0.0,2025-04-23T02:37:34.867Z,2025-04-23T02:37:47Z,"[{'id': 5673740619, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,Gotham FC,Away
4,2805076049,3,1,1,0,0,446mp88j1vpk9iwui9fiifrp8,1,50.0,50.0,2025-04-23T02:37:34.868Z,2025-04-23T02:46:48Z,"[{'id': 5673740701, 'qualifierId': 279, 'value...",cmolam8ri93kos2rasjhnuxyi,S. Coffey,NaN,NaN,Portland Thorns,Home

In [161]:
df.columns

Index(['id', 'eventId', 'typeId', 'periodId', 'timeMin', 'timeSec',
       'contestantId', 'outcome', 'x', 'y', 'timeStamp', 'lastModified',
       'qualifier', 'playerId', 'playerName', 'assist', 'keyPass', 'Squad',
       'Position'],
      dtype='object')

In [163]:
sample_row = df[df['qualifier'].str.contains('195', na=False)].iloc[0]
print(sample_row['qualifier'])

[{'id': 5673692197, 'qualifierId': 130, 'value': '8'}, {'id': 5673692199, 'qualifierId': 131, 'value': '1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0, 0, 0, 0, 0, 0'}, {'id': 5673692201, 'qualifierId': 194, 'value': 'cmolam8ri93kos2rasjhnuxyi'}, {'id': 5673692191, 'qualifierId': 30, 'value': '68a0jc6cin6hxx0bkdch9hc5x, a0kl9l751uxo86g2k2chqtw5w, 615vz7uoe3eiozddbe206io6h, cmolam8ri93kos2rasjhnuxyi, 8oj7cqgjacle67i49w4a3gx6, 8cjb3weg2uhmwh9l21gw0xqtw, 5b2dire687lp3dasdj2z3n0q2, ek8x7y3jt0xcebttt75qi5exh, et72990p9axru09oxv51hokwl, d0zsyv4xdt0hunaikjy3tde96, da2c3l9xeixo7o6byjutpgn4k, 1yva0f096q2oqk5gz59utr42y, 74uudh34v23m2z9gy5tdppxey, ap0166ueagw059fehsj6hh3h1, 7izc8t071mkrrgvptdjru467e, 1115fgmv9xa3nwx3bu19jr9pl, 7in4ykzbs8p44qy4jrb10p0wl, 2x310j2wycjsv4nzblfqd7sru, azcxror0t5ede7nqobmhx9u6s, 2btfn8hbssn0dnszgyll1gopg'}, {'id': 5673692193, 'qualifierId': 44, 'value': '1, 2, 2, 3, 2, 2, 3, 3, 4, 3, 3, 5, 5, 5, 5, 5, 5, 5, 5, 5'}, {'id': 5673692203, 'qualifierId': 197, 'value': '24254'}, {'id': 5673692195, 'qualifierId': 59, 'value': '18, 29, 2, 17, 5, 24, 66, 21, 10, 26, 7, 1, 16, 34, 13, 77, 8, 15, 14, 19'}, {'id': 5673692205, 'qualifierId': 227, 'value': '0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0'}]

In [165]:
df = df[df.typeId == 1]

In [167]:
# for i, row in df.iterrows():
#     qualifier_str = row['qualifier']
#     if pd.notna(qualifier_str):
#         # Extract all qualifierId-value pairs using string operations
#         parts = qualifier_str.split("{'id':")  # Split into individual qualifiers
#         for part in parts[1:]:  # Skip the first empty split
#             if "'qualifierId': 140" in part:
#                 value = part.split("'value': '")[1].split("'")[0]
#                 df.at[i, 'endX'] = float(value)
#             elif "'qualifierId': 141" in part:
#                 value = part.split("'value': '")[1].split("'")[0]
#                 df.at[i, 'endY'] = float(value)

# for i in range(len(df)):
#     df1 = df.iloc[i:i+1,:]
#     j = 0
#     for j in range(len(type_cols)):
#         col = df1[type_cols[j]].values[0]
#         if col == 140:
#             endx = df1.loc[:,'qualifier/%i/value' %j].values[0]
#             df['endX'][i] = endx
#         else:
#             j +=1
#     k = 0
#     for k in range(len(type_cols)):
#         col = df1[type_cols[k]].values[0]
#         if col == 141:
#             endy = df1.loc[:,'qualifier/%i/value' %k].values[0]
#             df['endY'][i] = endy
#         else:
#             k +=1

# unpack the qualifiers
#type_cols = [col for col in df.columns if '/qualifierId' in col]
# get pass locations
df['passEndX'] = 0.0
df['passEndY'] = 0.0
for i, row in df.iterrows():
    qualifier_str = row['qualifier']
    if pd.notna(qualifier_str):
        qualifiers = json.loads(qualifier_str.replace("'", '"'))  # Fix quotes for JSON
        for q in qualifiers:
            if q.get('qualifierId') == 140:
                df.at[i, 'passEndX'] = float(q['value'])
            elif q.get('qualifierId') == 141:
                df.at[i, 'passEndY'] = float(q['value'])

# get pass length and angle
df['pass_angle'] = 0.0
df['pass_length'] = 0.0
for i, row in df.iterrows():
    qualifier_str = row['qualifier']
    if pd.notna(qualifier_str):
        qualifiers = json.loads(qualifier_str.replace("'", '"'))  # Fix quotes for JSON
        for q in qualifiers:
            if q.get('qualifierId') == 212:
                df.at[i, 'pass_length'] = float(q['value'])
            elif q.get('qualifierId') == 213:
                df.at[i, 'pass_angle'] = float(q['value'])

# get cutbacks (195) and crosses (2)
df['cutback'] = False
df['cross'] = False
for i, row in df.iterrows():
    qualifier_str = row['qualifier']
    if pd.notna(qualifier_str):
        qualifiers = json.loads(qualifier_str.replace("'", '"'))  # Fix quotes for JSON
        for q in qualifiers:
            if q.get('qualifierId') == 195: 
                df.at[i, 'cutback'] = True
            elif q.get('qualifierId') == 2:
                df.at[i, 'cross'] = True

# get switch of play - 196
df['switch_ball'] = False
for i, row in df.iterrows():
    qualifier_str = row['qualifier']
    if pd.notna(qualifier_str):
        qualifiers = json.loads(qualifier_str.replace("'", '"'))  # Fix quotes for JSON
        for q in qualifiers:
            if q.get('qualifierId') == 196: 
                df.at[i, 'switch_ball'] = True

#df['entered_final_third'] = (df['passEndX'] >= 80) & (df['x'] < 80)

In [168]:
df.drop(columns=['timeStamp', 'lastModified', 'contestantId', 'playerId'])

,id,eventId,typeId,periodId,timeMin,timeSec,outcome,x,y,qualifier,...,keyPass,Squad,Position,passEndX,passEndY,pass_angle,pass_length,cutback,cross,switch_ball
4,2805076049,3,1,1,0,0,1,50.0,50.0,"[{'id': 5673740701, 'qualifierId': 279, 'value...",...,NaN,Portland Thorns,Home,39.4,53.0,2.96,11.3,False,False,False
5,2805076051,4,1,1,0,5,0,39.4,53.0,"[{'id': 5673740725, 'qualifierId': 1}, {'id': ...",...,NaN,Portland Thorns,Home,79.7,88.6,0.52,48.8,False,False,False
6,2805077105,100,1,1,0,5,1,64.7,96.3,"[{'id': 5673747633, 'qualifierId': 141, 'value...",...,NaN,Portland Thorns,Home,71.4,88.7,5.65,8.7,False,False,False
7,2805077107,101,1,1,0,6,1,74.4,81.8,"[{'id': 5673747965, 'qualifierId': 140, 'value...",...,NaN,Portland Thorns,Home,65.7,90.1,2.59,10.7,False,False,False
9,2805077111,103,1,1,0,10,1,63.7,92.0,"[{'id': 5673748137, 'qualifierId': 140, 'value...",...,NaN,Portland Thorns,Home,57.3,78.3,4.09,11.5,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1523,2805086113,679,1,2,95,25,1,54.3,37.0,"[{'id': 5673794815, 'qualifierId': 213, 'value...",...,NaN,Portland Thorns,Home,25.6,41.0,3.05,30.3,False,False,False
1524,2805086117,680,1,2,95,28,1,31.3,37.7,"[{'id': 5673794829, 'qualifierId': 212, 'value...",...,NaN,Portland Thorns,Home,12.6,43.0,2.96,20.0,False,False,False
1525,2805086121,681,1,2,95,30,0,12.3,43.0,"[{'id': 5673794863, 'qualifierId': 1}, {'id': ...",...,NaN,Portland Thorns,Home,56.7,49.4,0.09,46.8,False,False,False
1527,2805086127,854,1,2,95,36,1,38.5,35.7,"[{'id': 5673794889, 'qualifierId': 213, 'value...",...,NaN,Gotham FC,Away,54.2,20.4,5.72,19.5,False,False,False
1530,2805086139,856,1,2,95,42,1,58.5,29.8,"[{'id': 5673794959, 'qualifierId': 213, 'value...",...,NaN,Gotham FC,Away,88.0,22.2,6.12,31.4,False,False,False

In [170]:
#df.assist.value_counts()

In [173]:
#print((df['cross'] != False).sum())

In [175]:
# calculate progressive passes
# df['x'] = df['x']*1.2
# df['y'] = df['y']*0.8
# df['passEndX'] = df['passEndX']*1.2
# df['passEndY'] = df['passEndY']*0.8

# df['beginning'] = np.sqrt(np.square(120 - df['x']) + np.square(40 - df['y']))
# df['end'] = np.sqrt(np.square(120 - df['passEndX']) + np.square(40 - df['passEndY']))

# df['progressive'] = [(df['end'][x]) / (df['beginning'][x]) < .75 for x in range(len(df.beginning))]

df['beginning'] = np.sqrt((120 - df['x'])**2 + (40 - df['y'])**2)
df['end'] = np.sqrt((120 - df['passEndX'])**2 + (40 - df['passEndY'])**2)

df['progressive'] = (
    (df['end'] < df['beginning'] * 0.75) &  # reduced distance by at least 25%
    (df['passEndX'] > df['x']) &  # forward pass
    (df['typeId'] == 1) &  # assuming there's a 'type' or 'eventName' column
    (df['outcome'] == 1)  # if your data marks successful passes
)

In [177]:
df

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,...,passEndX,passEndY,pass_angle,pass_length,cutback,cross,switch_ball,beginning,end,progressive
4,2805076049,3,1,1,0,0,446mp88j1vpk9iwui9fiifrp8,1,50.0,50.0,...,39.4,53.0,2.96,11.3,False,False,False,70.710678,81.641656,False
5,2805076051,4,1,1,0,5,446mp88j1vpk9iwui9fiifrp8,0,39.4,53.0,...,79.7,88.6,0.52,48.8,False,False,False,81.641656,63.135172,False
6,2805077105,100,1,1,0,5,446mp88j1vpk9iwui9fiifrp8,1,64.7,96.3,...,71.4,88.7,5.65,8.7,False,False,False,78.916285,68.801526,False
7,2805077107,101,1,1,0,6,446mp88j1vpk9iwui9fiifrp8,1,74.4,81.8,...,65.7,90.1,2.59,10.7,False,False,False,61.859518,73.881662,False
9,2805077111,103,1,1,0,10,446mp88j1vpk9iwui9fiifrp8,1,63.7,92.0,...,57.3,78.3,4.09,11.5,False,False,False,76.640003,73.472308,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1523,2805086113,679,1,2,95,25,446mp88j1vpk9iwui9fiifrp8,1,54.3,37.0,...,25.6,41.0,3.05,30.3,False,False,False,65.768457,94.405296,False
1524,2805086117,680,1,2,95,28,446mp88j1vpk9iwui9fiifrp8,1,31.3,37.7,...,12.6,43.0,2.96,20.0,False,False,False,88.729815,107.441891,False
1525,2805086121,681,1,2,95,30,446mp88j1vpk9iwui9fiifrp8,0,12.3,43.0,...,56.7,49.4,0.09,46.8,False,False,False,107.741775,63.994140,False
1527,2805086127,854,1,2,95,36,bgkfdckqfqnfbmecbtz03n76d,1,38.5,35.7,...,54.2,20.4,5.72,19.5,False,False,False,81.613357,68.657119,False
1530,2805086139,856,1,2,95,42,bgkfdckqfqnfbmecbtz03n76d,1,58.5,29.8,...,88.0,22.2,6.12,31.4,False,False,False,62.340115,36.617482,True

In [179]:
print((df['progressive'] != False).sum())

39

In [181]:
df.progressive.value_counts()

progressive
False    840
True      39
Name: count, dtype: int64

In [183]:
progressive_passes = df[df['progressive']]
player_counts = progressive_passes['playerName'].value_counts().reset_index()
player_counts.columns = ['playerName', 'progressivePasses']
print(player_counts)

       playerName  progressivePasses
0        L. Reale                  7
1        R. Reyes                  3
2       A. Berger                  3
3       M. Arnold                  3
4   Jéssica Silva                  3
5      E. Sonnett                  2
6       M. Alidou                  2
7     M. McKenzie                  2
8        C. Hanks                  2
9       S. Coffey                  2
10  S. Schupansky                  2
11      J. Carter                  1
12       S. Hirst                  1
13       J. Perry                  1
14      J. Howell                  1
15      N. Martin                  1
16      T. Torres                  1
17       I. Obaze                  1
18    O. Moultrie                  1