In [169]:
import pandas as pd
import numpy as np

In [171]:
# open match file
df = pd.read_csv('../match-data/nwsl-events/2025-04-19_North_Carolina_Courage__vs__Bay.csv')

In [173]:
df.head()

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,keyPass,assist,Squad,Position
0,2803484671,1,34,16,0,0,eka22bj7co8bw5qxa6qlbinf8,1,0.0,0.0,2025-04-19T22:31:25.500Z,2025-04-19T23:30:44Z,"[{'id': 5665108477, 'qualifierId': 197, 'value...",NaN,NaN,NaN,NaN,Bay,Away
1,2803484723,1,34,16,0,0,b4fbmos00gxtk8qnaqsm392p5,1,0.0,0.0,2025-04-19T22:31:31.969Z,2025-04-19T23:24:04Z,"[{'id': 5665003257, 'qualifierId': 30, 'value'...",NaN,NaN,NaN,NaN,North Carolina Courage,Home
2,2803502059,2,32,1,0,0,eka22bj7co8bw5qxa6qlbinf8,1,0.0,0.0,2025-04-19T23:09:44.438Z,2025-04-19T23:09:46Z,"[{'id': 5665103473, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,Bay,Away
3,2803502049,2,32,1,0,0,b4fbmos00gxtk8qnaqsm392p5,1,0.0,0.0,2025-04-19T23:09:44.438Z,2025-04-19T23:09:44Z,"[{'id': 5665103453, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,North Carolina Courage,Home
4,2803502135,4,1,1,0,0,b4fbmos00gxtk8qnaqsm392p5,1,50.0,50.0,2025-04-19T23:09:44.439Z,2025-04-19T23:09:50Z,"[{'id': 5665103845, 'qualifierId': 279, 'value...",54ieoaegysojsey2jmqtr9ucp,B. Pinto,NaN,NaN,North Carolina Courage,Home

In [175]:
# Need passes - typeId 1 (pass)

In [187]:
# unpack the qualifiers
type_cols = [col for col in df.columns if '/qualifierId' in col]

df['endX'] = 0.0
df['endY'] = 0.0

for i, row in df.iterrows():
    qualifier_str = row['qualifier']
    if pd.notna(qualifier_str):
        qualifiers = json.loads(qualifier_str.replace("'", '"'))  # Fix quotes for JSON
        for q in qualifiers:
            if q.get('qualifierId') == 140:
                df.at[i, 'endX'] = float(q['value'])
            elif q.get('qualifierId') == 141:
                df.at[i, 'endY'] = float(q['value'])

# for i, row in df.iterrows():
#     qualifier_str = row['qualifier']
#     if pd.notna(qualifier_str):
#         # Extract all qualifierId-value pairs using string operations
#         parts = qualifier_str.split("{'id':")  # Split into individual qualifiers
#         for part in parts[1:]:  # Skip the first empty split
#             if "'qualifierId': 140" in part:
#                 value = part.split("'value': '")[1].split("'")[0]
#                 df.at[i, 'endX'] = float(value)
#             elif "'qualifierId': 141" in part:
#                 value = part.split("'value': '")[1].split("'")[0]
#                 df.at[i, 'endY'] = float(value)

# for i in range(len(df)):
#     df1 = df.iloc[i:i+1,:]
#     j = 0
#     for j in range(len(type_cols)):
#         col = df1[type_cols[j]].values[0]
#         if col == 140:
#             endx = df1.loc[:,'qualifier/%i/value' %j].values[0]
#             df['endX'][i] = endx
#         else:
#             j +=1
#     k = 0
#     for k in range(len(type_cols)):
#         col = df1[type_cols[k]].values[0]
#         if col == 141:
#             endy = df1.loc[:,'qualifier/%i/value' %k].values[0]
#             df['endY'][i] = endy
#         else:
#             k +=1

df['pass_angle'] = 0.0
df['pass_length'] = 0.0

for i, row in df.iterrows():
    qualifier_str = row['qualifier']
    if pd.notna(qualifier_str):
        qualifiers = json.loads(qualifier_str.replace("'", '"'))  # Fix quotes for JSON
        for q in qualifiers:
            if q.get('qualifierId') == 212:
                df.at[i, 'pass_length'] = float(q['value'])
            elif q.get('qualifierId') == 213:
                df.at[i, 'pass_angle'] = float(q['value'])

# for i, row in df.iterrows():
#     qualifier_str = row['qualifier']
#     if pd.notna(qualifier_str):
#         # Extract all qualifierId-value pairs using string operations
#         parts = qualifier_str.split("{'id':")  # Split into individual qualifiers
#         for part in parts[1:]:  # Skip the first empty split
#             if "'qualifierId': 212" in part:
#                 value = part.split("'value': '")[1].split("'")[0]
#                 df.at[i, 'pass_length'] = float(value)
#             elif "'qualifierId': 213" in part:
#                 value = part.split("'value': '")[1].split("'")[0]
#                 df.at[i, 'pass_angle'] = float(value)
# for i in range(len(df)):
#     df1 = df.iloc[i:i+1,:]
#     j = 0
#     for j in range(len(type_cols)):
#         col = df1[type_cols[j]].values[0]
#         if col == 213:
#             angle = df1.loc[:,'qualifier/%i/value' %j].values[0]
#             df.pass_angle[i] = angle
#         else:
#             j +=1
#     k = 0
#     for k in range(len(type_cols)):
#         col = df1[type_cols[k]].values[0]
#         if col == 212:
#             length = df1.loc[:,'qualifier/%i/value' %k].values[0]
#             df.pass_length[i] = length
#         else:
#             k +=1

# get progressive passes
df['beginning'] = np.sqrt(np.square(105 - df['x']) + np.square(52.5 - df['y']))
df['end'] = np.sqrt(np.square(105 - df['endX']) + np.square(52.5 - df['endY']))
df['progressive'] = [(df['end'][x]) / (df['beginning'][x]) < .75 for x in range(len(df.beginning))]

df = df[df['typeId'] == 1]

ValueError: Length of values (1) does not match length of index (1589)

In [179]:
df

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,...,assist,Squad,Position,endX,endY,pass_angle,pass_length,beginning,end,distance
0,2803484671,1,34,16,0,0,eka22bj7co8bw5qxa6qlbinf8,1,0.0,0.0,...,NaN,Bay,Away,0.0,0.0,0.0,0.0,126.491106,126.491106,0.000000
1,2803484723,1,34,16,0,0,b4fbmos00gxtk8qnaqsm392p5,1,0.0,0.0,...,NaN,North Carolina Courage,Home,0.0,0.0,0.0,0.0,126.491106,126.491106,0.000000
2,2803502059,2,32,1,0,0,eka22bj7co8bw5qxa6qlbinf8,1,0.0,0.0,...,NaN,Bay,Away,0.0,0.0,0.0,0.0,126.491106,126.491106,0.000000
3,2803502049,2,32,1,0,0,b4fbmos00gxtk8qnaqsm392p5,1,0.0,0.0,...,NaN,North Carolina Courage,Home,0.0,0.0,0.0,0.0,126.491106,126.491106,0.000000
4,2803502135,4,1,1,0,0,b4fbmos00gxtk8qnaqsm392p5,1,50.0,50.0,...,NaN,North Carolina Courage,Home,29.8,48.1,3.2,21.2,70.710678,90.562962,-19.852283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1584,2803590803,805,30,2,98,5,eka22bj7co8bw5qxa6qlbinf8,1,0.0,0.0,...,NaN,Bay,Away,0.0,0.0,0.0,0.0,126.491106,126.491106,0.000000
1585,2803594311,768,30,14,0,0,b4fbmos00gxtk8qnaqsm392p5,1,0.0,0.0,...,NaN,North Carolina Courage,Home,0.0,0.0,0.0,0.0,126.491106,126.491106,0.000000
1586,2803590915,806,30,14,0,0,eka22bj7co8bw5qxa6qlbinf8,1,0.0,0.0,...,NaN,Bay,Away,0.0,0.0,0.0,0.0,126.491106,126.491106,0.000000
1587,2803594319,769,37,14,0,0,b4fbmos00gxtk8qnaqsm392p5,1,0.0,0.0,...,NaN,North Carolina Courage,Home,0.0,0.0,0.0,0.0,126.491106,126.491106,0.000000
1588,2803590919,807,37,14,0,0,eka22bj7co8bw5qxa6qlbinf8,1,0.0,0.0,...,NaN,Bay,Away,0.0,0.0,0.0,0.0,126.491106,126.491106,0.000000

In [181]:
print(df.groupby('playerName')['progressive'].sum().sort_values(ascending=False))

KeyError: 'Column not found: progressive'