In [32]:
import pandas as pd
import numpy as np

In [34]:
# open match file
df = pd.read_csv('../match-data/nwsl-events/2025-04-13_Gotham_FC__vs__North_Carolina_Courage.csv')

In [36]:
df.head()

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,keyPass,assist,Squad,Position
0,2800998551,1,34,16,0,0,b4fbmos00gxtk8qnaqsm392p5,1,0.0,0.0,2025-04-13T19:15:13.746Z,2025-04-13T20:56:41Z,"[{'id': 5651196995, 'qualifierId': 227, 'value...",NaN,NaN,NaN,NaN,North Carolina Courage,Away
1,2801008623,1,34,16,0,0,bgkfdckqfqnfbmecbtz03n76d,1,0.0,0.0,2025-04-13T19:29:02.601Z,2025-04-13T20:54:52Z,"[{'id': 5651255981, 'qualifierId': 131, 'value...",NaN,NaN,NaN,NaN,Gotham FC,Home
2,2801039029,2,32,1,0,0,b4fbmos00gxtk8qnaqsm392p5,1,0.0,0.0,2025-04-13T20:09:10.271Z,2025-04-13T20:09:10Z,"[{'id': 5651430309, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,North Carolina Courage,Away
3,2801039039,2,32,1,0,0,bgkfdckqfqnfbmecbtz03n76d,1,0.0,0.0,2025-04-13T20:09:10.271Z,2025-04-13T20:09:12Z,"[{'id': 5651430367, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,Gotham FC,Home
4,2801039059,3,1,1,0,0,b4fbmos00gxtk8qnaqsm392p5,1,50.0,50.0,2025-04-13T20:09:10.272Z,2025-04-13T20:09:14Z,"[{'id': 5651430531, 'qualifierId': 279, 'value...",4k83z2cdvn2kwb72kh8e8qfsa,J. Shaw,NaN,NaN,North Carolina Courage,Away

In [38]:
# Need passes - typeId 1 (pass), 2 (offside pass)

In [40]:
# 1. Get pass typeId - 1
df[df.typeId == 1]

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,keyPass,assist,Squad,Position
4,2801039059,3,1,1,0,0,b4fbmos00gxtk8qnaqsm392p5,1,50.0,50.0,2025-04-13T20:09:10.272Z,2025-04-13T20:09:14Z,"[{'id': 5651430531, 'qualifierId': 279, 'value...",4k83z2cdvn2kwb72kh8e8qfsa,J. Shaw,NaN,NaN,North Carolina Courage,Away
5,2801039065,4,1,1,0,3,b4fbmos00gxtk8qnaqsm392p5,0,29.0,47.0,2025-04-13T20:09:14.092Z,2025-04-13T20:09:14Z,"[{'id': 5651430559, 'qualifierId': 140, 'value...",1p3bwk03ay87hp2nwrl3tfxwq,K. Kurtz,NaN,NaN,North Carolina Courage,Away
6,2801039091,3,1,1,0,7,bgkfdckqfqnfbmecbtz03n76d,0,22.9,51.2,2025-04-13T20:09:17.871Z,2025-04-13T21:04:21Z,"[{'id': 5651430743, 'qualifierId': 213, 'value...",aqihfnhadzdmi7i5bjfnphqms,N. Martin,NaN,NaN,Gotham FC,Home
7,2801039123,5,1,1,0,9,b4fbmos00gxtk8qnaqsm392p5,1,63.1,70.8,2025-04-13T20:09:19.561Z,2025-04-13T21:04:36Z,"[{'id': 5651430931, 'qualifierId': 213, 'value...",cbofbntctfuhr1vqpn7eywt05,F. Rauch,NaN,NaN,North Carolina Courage,Away
8,2801039135,6,1,1,0,10,b4fbmos00gxtk8qnaqsm392p5,1,57.9,74.3,2025-04-13T20:09:20.697Z,2025-04-13T20:09:21Z,"[{'id': 5651430993, 'qualifierId': 140, 'value...",8afwde4025w5wxddyf2ouoine,S. Koyama,NaN,NaN,North Carolina Courage,Away
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,2801108195,856,1,2,93,47,b4fbmos00gxtk8qnaqsm392p5,1,31.9,68.6,2025-04-13T22:06:56.653Z,2025-04-13T22:07:01Z,"[{'id': 5651819313, 'qualifierId': 5}, {'id': ...",3qj9t05behkav9okd8n2wywh5,C. Murphy,NaN,NaN,North Carolina Courage,Away
1713,2801108215,858,1,2,93,52,b4fbmos00gxtk8qnaqsm392p5,1,71.0,63.2,2025-04-13T22:07:01.069Z,2025-04-13T22:07:04Z,"[{'id': 5651819443, 'qualifierId': 140, 'value...",bxj6bpjfxkumj112yoco9wahg,R. Jackson,NaN,NaN,North Carolina Courage,Away
1714,2801108239,859,1,2,93,54,b4fbmos00gxtk8qnaqsm392p5,1,89.7,63.0,2025-04-13T22:07:03.997Z,2025-04-13T22:37:04Z,"[{'id': 5651819599, 'qualifierId': 212, 'value...",817x7baq69b1tnrtminbjf3zd,M. Speck,NaN,1.0,North Carolina Courage,Away
1716,2801108947,857,1,2,95,38,bgkfdckqfqnfbmecbtz03n76d,1,49.8,50.1,2025-04-13T22:08:47.770Z,2025-04-13T22:08:50Z,"[{'id': 5651824121, 'qualifierId': 141, 'value...",dzhvgrdkl4nuj8z4fd9to0ag9,Geyse,NaN,NaN,Gotham FC,Home
1717,2801108973,858,1,2,95,40,bgkfdckqfqnfbmecbtz03n76d,1,40.8,56.7,2025-04-13T22:08:49.945Z,2025-04-13T22:08:54Z,"[{'id': 5651824307, 'qualifierId': 213, 'value...",1zjvb0kej2m1kp1sl0hw8tmuh,J. Howell,NaN,NaN,Gotham FC,Home

In [42]:
df[df.typeId == 2]

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,keyPass,assist,Squad,Position
690,2801067543,338,2,1,39,15,b4fbmos00gxtk8qnaqsm392p5,1,67.5,7.8,2025-04-13T20:48:25.622Z,2025-04-13T20:48:29Z,"[{'id': 5651593075, 'qualifierId': 152}, {'id'...",4k83z2cdvn2kwb72kh8e8qfsa,J. Shaw,NaN,NaN,North Carolina Courage,Away
1302,2801098113,652,2,2,67,54,b4fbmos00gxtk8qnaqsm392p5,1,63.5,89.1,2025-04-13T21:41:03.467Z,2025-04-13T22:26:48Z,"[{'id': 5651762645, 'qualifierId': 56, 'value'...",54baezi0oivpmiz91y7bj3zmc,B. Courtnall,NaN,NaN,North Carolina Courage,Away
1424,2801101143,714,2,2,74,38,b4fbmos00gxtk8qnaqsm392p5,1,53.0,63.2,2025-04-13T21:47:47.944Z,2025-04-13T21:54:43Z,"[{'id': 5651779489, 'qualifierId': 1}, {'id': ...",bxj6bpjfxkumj112yoco9wahg,R. Jackson,NaN,NaN,North Carolina Courage,Away
1506,2801103971,758,2,2,82,40,b4fbmos00gxtk8qnaqsm392p5,1,87.6,87.7,2025-04-13T21:55:49.224Z,2025-04-13T22:31:58Z,"[{'id': 5651795069, 'qualifierId': 141, 'value...",54baezi0oivpmiz91y7bj3zmc,B. Courtnall,NaN,NaN,North Carolina Courage,Away
1550,2801104803,780,2,2,85,21,bgkfdckqfqnfbmecbtz03n76d,1,92.3,9.7,2025-04-13T21:58:30.131Z,2025-04-13T21:58:34Z,"[{'id': 5651800087, 'qualifierId': 7, 'value':...",aqihfnhadzdmi7i5bjfnphqms,N. Martin,NaN,NaN,Gotham FC,Home
1632,2801106301,818,2,2,89,34,bgkfdckqfqnfbmecbtz03n76d,1,71.7,26.8,2025-04-13T22:02:43.134Z,2025-04-13T22:10:41Z,"[{'id': 5651808829, 'qualifierId': 7, 'value':...",94j0ci5rtwvr8nlrr32cfg9d6,C. Kizer,NaN,NaN,Gotham FC,Home

In [62]:
# create columns for player passes with passEndX and passEndY
df['end_x'] = None
df['end_y'] = None
df['receiver_player_name'] = None

# Iterate through each row
for index, row in df.iterrows():
    # If current action is a pass
    if row['typeId'] == 1:
        # Find the index of the next row with action
        next_index = df.index[index + 1]
        if next_index < len(df):
            # Update end locations
            df.at[index, 'end_x'] = df.at[next_index, 'x']
            df.at[index, 'end_y'] = df.at[next_index, 'y']
            if row['outcome'] == 1:
                # Add receiver player name
                df.at[index, 'receive_playerName'] = row['playerName']
# create a column to check for progressive pass
df['beginning'] = np.sqrt(np.square(105 - df['x']) + np.square(52.5 - df['y']))
df['end'] = np.sqrt(np.square(105 - df['end_x']) + np.square(52.5 - df['end_y']))

df['progressive'] = [(df['end'][x]) / (df['beginning'][x]) < 0.75 for x in range(len(df.beginning))]

df[df.typeId == 1]

NameError: name 'numpy' is not defined

In [ ]:
# get progressive passes