In [1]:
import pandas as pd

In [2]:
#match url
url = 'https://fbref.com/en/matches/621bc391/Houston-Dash-San-Diego-Wave-June-22-2024-NWSL'
df = pd.read_html(url, attrs={'id': 'shots_all'})[0]

In [3]:
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
              Minute             Player              Squad                 xG
0                  2        Kyra Carusa               Wave               0.06
1                  4     Makenzy Doniak               Wave               0.02
2                  6    Abby Dahlkemper               Wave               0.05
3                  7     Kaitlyn Torpey               Wave               0.11
4                  7     Kaitlyn Torpey               Wave               0.10

  Unnamed: 4_level_0 Unnamed: 5_level_0 Unnamed: 6_level_0 Unnamed: 7_level_0  \
                PSxG            Outcome           Distance          Body Part
0               0.12              Saved               13.0               Head
1                NaN         Off Target               31.0         Right Foot
2                NaN         Off Target               14.0               Head
3                NaN            Blocked               21.0         Right Foot
4               0.08              Saved               16.0          Left Foot

  Unnamed: 8_level_0               SCA 1                            SCA 2  \
               Notes              Player        Event              Player
0                NaN       Maria Sanchez  Pass (Dead)      Kaitlyn Torpey
1                NaN   Christen Westphal  Pass (Live)     Abby Dahlkemper
2                NaN       Maria Sanchez  Pass (Dead)  Savannah McCaskill
3                NaN  Danielle Colaprico  Pass (Live)                 NaN
4                NaN      Kaitlyn Torpey         Shot                 NaN


         Event
0       Fouled
1  Pass (Live)
2       Fouled
3          NaN
4          NaN

In [4]:
df = df.drop(columns=[x for x in df.columns if 'SCA' in x[0]])

In [6]:
df.columns=df.columns.droplevel(0)

In [7]:
df = df[['Minute', 'Player', 'Squad', 'xG', 'Outcome']]

In [8]:
df.head()

  Minute           Player Squad    xG     Outcome
0      2      Kyra Carusa  Wave  0.06       Saved
1      4   Makenzy Doniak  Wave  0.02  Off Target
2      6  Abby Dahlkemper  Wave  0.05  Off Target
3      7   Kaitlyn Torpey  Wave  0.11     Blocked
4      7   Kaitlyn Torpey  Wave  0.10       Saved

In [9]:
#calculate cumulative xG
df['cumulative_xG'] = df.groupby('Squad')['xG'].cumsum()

C:\Users\fredd\AppData\Local\Temp\ipykernel_14076\3155252563.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cumulative_xG'] = df.groupby('Squad')['xG'].cumsum()

In [17]:
df

   Minute              Player Squad    xG     Outcome  cumulative_xG
0       2         Kyra Carusa  Wave  0.06       Saved           0.06
1       4      Makenzy Doniak  Wave  0.02  Off Target           0.08
2       6     Abby Dahlkemper  Wave  0.05  Off Target           0.13
3       7      Kaitlyn Torpey  Wave  0.11     Blocked           0.24
4       7      Kaitlyn Torpey  Wave  0.10       Saved           0.34
5      10       Diana Ordoñez  Dash  0.05       Saved           0.05
6      14       Maria Sanchez  Wave  0.04  Off Target           0.38
7      34       Paige Nielsen  Dash  0.21  Off Target           0.26
8      35         Kyra Carusa  Wave  0.05     Blocked           0.43
9      36  Danielle Colaprico  Wave  0.04       Saved           0.47
10    NaN                 NaN   NaN   NaN         NaN            NaN
11     57            Tarciane  Dash  0.01  Off Target           0.27
12     71         Jaedyn Shaw  Wave  0.04  Off Target           0.51
13     87         Kyra Carusa  Wave  0.05  Off Target           0.56
14     89       Diana Ordoñez  Dash  0.03     Blocked           0.30
15     89       Diana Ordoñez  Dash  0.09  Off Target           0.39
16   90+8            Tarciane  Dash  0.19  Off Target           0.58

In [19]:
#drop minutes with NaN
df = df.dropna(subset=["Minute"])
df

   Minute              Player Squad    xG     Outcome  cumulative_xG
0       2         Kyra Carusa  Wave  0.06       Saved           0.06
1       4      Makenzy Doniak  Wave  0.02  Off Target           0.08
2       6     Abby Dahlkemper  Wave  0.05  Off Target           0.13
3       7      Kaitlyn Torpey  Wave  0.11     Blocked           0.24
4       7      Kaitlyn Torpey  Wave  0.10       Saved           0.34
5      10       Diana Ordoñez  Dash  0.05       Saved           0.05
6      14       Maria Sanchez  Wave  0.04  Off Target           0.38
7      34       Paige Nielsen  Dash  0.21  Off Target           0.26
8      35         Kyra Carusa  Wave  0.05     Blocked           0.43
9      36  Danielle Colaprico  Wave  0.04       Saved           0.47
11     57            Tarciane  Dash  0.01  Off Target           0.27
12     71         Jaedyn Shaw  Wave  0.04  Off Target           0.51
13     87         Kyra Carusa  Wave  0.05  Off Target           0.56
14     89       Diana Ordoñez  Dash  0.03     Blocked           0.30
15     89       Diana Ordoñez  Dash  0.09  Off Target           0.39
16   90+8            Tarciane  Dash  0.19  Off Target           0.58

In [21]:
#split match into halves
df['half'] = df["Minute"].apply(lambda x: 1 if int(x.split('+')[0]) <= 45 
                                   else 2)

C:\Users\fredd\AppData\Local\Temp\ipykernel_14076\2617189078.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['half'] = df["Minute"].apply(lambda x: 1 if int(x.split('+')[0]) <= 45

In [23]:
df.head()

  Minute           Player Squad    xG     Outcome  cumulative_xG  half
0      2      Kyra Carusa  Wave  0.06       Saved           0.06     1
1      4   Makenzy Doniak  Wave  0.02  Off Target           0.08     1
2      6  Abby Dahlkemper  Wave  0.05  Off Target           0.13     1
3      7   Kaitlyn Torpey  Wave  0.11     Blocked           0.24     1
4      7   Kaitlyn Torpey  Wave  0.10       Saved           0.34     1

In [25]:
df["Minute"] = df["Minute"].apply(lambda x: sum([int(y) for y in x.split('+')]))

C:\Users\fredd\AppData\Local\Temp\ipykernel_14076\2303675244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Minute"] = df["Minute"].apply(lambda x: sum([int(y) for y in x.split('+')]))

In [27]:
df.tail()

    Minute         Player Squad    xG     Outcome  cumulative_xG  half
12      71    Jaedyn Shaw  Wave  0.04  Off Target           0.51     2
13      87    Kyra Carusa  Wave  0.05  Off Target           0.56     2
14      89  Diana Ordoñez  Dash  0.03     Blocked           0.30     2
15      89  Diana Ordoñez  Dash  0.09  Off Target           0.39     2
16      98       Tarciane  Dash  0.19  Off Target           0.58     2

In [29]:
df

    Minute              Player Squad    xG     Outcome  cumulative_xG  half
0        2         Kyra Carusa  Wave  0.06       Saved           0.06     1
1        4      Makenzy Doniak  Wave  0.02  Off Target           0.08     1
2        6     Abby Dahlkemper  Wave  0.05  Off Target           0.13     1
3        7      Kaitlyn Torpey  Wave  0.11     Blocked           0.24     1
4        7      Kaitlyn Torpey  Wave  0.10       Saved           0.34     1
5       10       Diana Ordoñez  Dash  0.05       Saved           0.05     1
6       14       Maria Sanchez  Wave  0.04  Off Target           0.38     1
7       34       Paige Nielsen  Dash  0.21  Off Target           0.26     1
8       35         Kyra Carusa  Wave  0.05     Blocked           0.43     1
9       36  Danielle Colaprico  Wave  0.04       Saved           0.47     1
11      57            Tarciane  Dash  0.01  Off Target           0.27     2
12      71         Jaedyn Shaw  Wave  0.04  Off Target           0.51     2
13      87         Kyra Carusa  Wave  0.05  Off Target           0.56     2
14      89       Diana Ordoñez  Dash  0.03     Blocked           0.30     2
15      89       Diana Ordoñez  Dash  0.09  Off Target           0.39     2
16      98            Tarciane  Dash  0.19  Off Target           0.58     2

In [40]:
#create variables for team colours
HOME_COLOR = '#FF6900'
AWAY_COLOR = '#E31C79'

In [96]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('white')
plt.figure(figsize=(14,10))

for team in df['Squad'].unique():
    team_df = df[df['Squad'] == team]
    team_df = pd.concat([pd.DataFrame({'Squad': team, 'Minute': 0, 'xG': 0, 'Outcome': 'Goal', 
                                       'cumulative_xG': 0, 'half': 1}, index=[0]), team_df})
    team_df = pd.concat([team_df[team_df['half'] == 1], pd.DataFrame({'Squad': team, 'Minute': 45, 'xG': 0, 'Outcome': 'Goal', 
                                                                      'cumulative_xG': team_df[team_df['half'] == 1]['cumulative_xG'].iloc[-1], 'half': 2}, index=[0]), team_df[team_df['half'] == 2]])
    
    for half in team_df['half'].unique():
        half_df = team_df[team_df['half'] == half]
        ax.plot(
            half_df['Minute'], 
            half_df['cumulative_xG'], 
            label=team, 
            drawstyle='steps-post',
            c= AWAY_COLOR if team == 'Wave' else HOME_COLOR
        )   
plt.xticks([0, 45, 90])
plt.xlabel('Time (minutes)')
plt.ylabel('Expected Goals')
plt.title('Houston Dash vs San Diego Wave')